body {
    background-color: #f0f0f0;
}
.add-link {
    color: white;
    text-decoration: none;
}
.add-link:hover {
    color: inherit;
}
.canNgang {
    display: flex;
}
.nutAdd {
    float: right;
}
input[type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.containerWidth {
    max-width: 600px;
    margin: 0 auto;
    margin-top: 30px;
}
.boVien {
    border-radius: 20px;
}
.widthButton {
    width: 85px;
}
.topTask{
    display: flex;
    justify-content: space-between;
    margin-top: -10px;
}
.xButton {
    color: black;
    text-decoration: none;
}
.xButton:hover {
    color: inherit;
}